* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/fondoheader.png);
    text-decoration: none;
    background-position: center;
    background-size: cover;
}

.header2 {
    width: 100%;
    height: 15vh;
    background-image: url(../img/fondoheader.png);
    text-decoration: none;
    background-position: top;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 140px;
    margin-left: 20px;
}

.bar-btn {
    font-size: 25px;
    color: $color-letras;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background-color: rgba(0, 0, 0, .80);
    text-align: center;
    transition: all .5%;
    z-index: 100;
}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a {
    color: $color-letras;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active,
.nav-menu li a:hover {
    color: $color-rojo;
    transition: .3s;

    body.dark & {
        color: $color-rojo;
    }
}

#check {
    display: none;
}

#check:checked~.nav-menu {
    height: 100vh;
}

#check:checked~.nav-menu li {
    display: block;
}

.banner-text {
    padding: 0 30px;
    margin-top: 150px;
    text-align: center;
    color: $color-letras;
}

.banner-text h3 {
    font-size: 50px;
    margin-bottom: 30px;
}

.banner-text span {
    color: $color-rojo;
}

.banner-text h2 {
    font-size: 35px;
    font-weight: 600;
    color: $color-letras;
}

.button1 {
    margin-right: 40px;
    padding: 10px;
    background-color: $color-rojo;
    color: $color-letras;
    border-radius: 5px;
}

.button1:hover {
    background-color: $color-letras;
    color: $color-rojo;
    transition: .5s;
}

.button2 {
    margin-right: 40px;
    padding: 10px;
    background-color: $color-letras;
    color: $color-rojo;
    border-radius: 5px;
}

.button2:hover {
    background-color: $color-rojo;
    color: $color-letras;
    transition: .5s;
}

.switch {
    margin-left: 20px;
    background-color: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;

    &::after {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: #f1f1f1;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 2);
    }

    &.active {
        background: orange;
        color: #000;

        &::after {
            right: 0;
            left: unset;
        }
    }

    span {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: #fff;
    }
}