@media(max-width:1100px) {
    .cuadros ul {
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .cuadros li figure {
        width: 100%;
        height: 50%;
    }
}

@media(max-width:991px) {

    .card {
        width: auto;
        max-width: 350px;
        align-items: flex-start;
        margin: 10px;
    }

    .card:hover {
        height: 600px;
    }

    .card .content {
        width: 100%;
        left: 0;
        padding: 40px;
    }

    .card:hover img {
        top: 70%;
        left: 50%;
        height: 115px;
    }

    .card .bandera {
        height: 50px !important;
        position: absolute;
        top: 300px !important;
    }

    .cuadros-calendario ul li figure figcaption {
        font-size: 14px;
    }
}



@media (max-width:850px) {
    .cuadros-calendario li {
        width: 50%;
    }

    .cuadros-calendario ul li figure figcaption {
        font-size: 18px;
    }

    .card img {
        height: 115;
    }
    .gallery_container{
        grid-template-columns: repeat(4,1fr);
    }
    .gallery_item:nth-child(1){
        grid-column-start: span 2;
    }
    .gallery_item:nth-child(2){
        grid-column-start: span 2;
    }
    .gallery_item:nth-child(3){
        grid-row-start: span 3;
    }
    .gallery_item:nth-child(5){
        grid-column-start: span 1;
    }
}
@media screen and (min-width:768px) {
    .logo{
        margin-left: 50px;
    }
    nav{
        height: 100px;
    }
    .bar-btn{
        display: none;
    }
    .nav-menu{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }
    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }
    .nav-menu li a{
        font-size: 12px;
    }
    .banner-text h3{
        font-size: 70px;
        margin-bottom: 30px;
    }
    .banner-text h2{
        font-size: 20px;
    }
}

@media (max-width:726px) {
    .menu ul li a {
        font-size: 15px;
    }

    footer {
        height: 225px;
    }

    .menu_footer {
        display: none;
    }

    .gallery_container{
        grid-template-columns: repeat(3,1fr);
    }
    .gallery_item:nth-child(1){
        grid-column-start: span 3;
    }
    .gallery_item:nth-child(2){
        grid-column-start: span 3;
    }
    .gallery_item:nth-child(3){
        grid-column-start:span 3;
        grid-row-start:span 3 ;
    }
    .gallery_item:nth-child(4){
        grid-column-start: span 2;
    }

}

@media (max-width:630px) {
    .cuadros-calendario li {
        width: 50%;
    }

    .cuadros-calendario ul li figure figcaption {
        font-size: 15px;
    }

    .contenedor p {
        margin-top: 0;
        font-size: 12px;
    }
    .gallery_container{
        grid-template-columns: repeat(1,1fr);
    }
    .gallery_item:nth-child(1){
        grid-row-start: span 2;
    }
    .gallery_item:nth-child(2){
        grid-row-start: span 2;
    }
    .gallery_item:nth-child(3){
        grid-row-start: span 2;
    }
    .gallery_item:nth-child(4){
        grid-row-start: span 2;
        grid-column-start: span 3;
    }
    .gallery_item:nth-child(5){
        grid-row-start: span 2;
        grid-column-start: span 3;
    }
    .gallery_item:nth-child(6){
        grid-row-start: span 2;
        grid-column-start: span 3;
    }
    .gallery_item:nth-child(7){
        grid-row-start: span 2;
        grid-column-start: span 3;
    }
    .gallery_item:nth-child(8){
        grid-row-start: span 2;
        grid-column-start: span 3;
    }
    .gallery_item:nth-child(9){
        grid-row-start: span 2;
        grid-column-start: span 3;
    }

}

@media (max-width:540px) {
    .cuadros-calendario li {
        width: 80%;
    }

    .cuadros-calendario ul li figure figcaption {
        font-size: 16px;
    }
    .button1{
        display: none;
    }
    .button2{
        display: none;
    }
}

@media(max-width:420px) {
    .card:hover {
        height: 400px;
    }

    .card .content {
        width: 100%;
        left: 0;
        padding: 20px;
    }

    .card:hover img {
        top: 70%;
        left: 50%;
        height: 100px;
    }
}